@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --font-family: "Nunito Sans", Arial;
  --main-text-color: #fff;
  --main-text-color-first: #39cca9;
  --main-text-color-second: #69bbe2;
  --main-text-color-third: #171a2d;
  --main-bacground-color-section: #171a2d;
  --main-active-btn: #239ca2;
  --main-footer-color: #324064;
  font-family: "Nunito Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #171a2d;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

button,
input,
select {
  border-radius: 0;
  text-align: inherit;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.swiper {
  height: 100%;
  width: 100%;
}
.swiper .swiper-pagination-bullet-active {
  transform: scale(2);
  transform-origin: center;
}
