@import "../../../app/variables";

.landing_socials {
  display: flex;
  align-items: center;
  width: 240px;
  p {
    @include text-style(var(--main-text-color), 15px, 21px, 700);
    padding: 0 10px;
  }
  a {
    margin-right: 20px;
    svg {
      path {
        fill: #fff;
        transition: 0.2s;
      }
    }
    svg:hover {
      path {
        fill: var(--main-active-btn);
      }
    }
  }
  a:last-child {
    margin-right: 0;
  }
}
